%form{:class=>"post-a-job"}
  .page.shadow
    .stripe
      .left
        %h2
          Dome Connectors
        %span.info
          Bid started 4/1/2000
      .right
      .clear
    .content.grey
      .full
        .talker
          .identity
            .triangle
            .avatar
          .text.shadow
            .user_header
              %span.name
                EFFALO
              %span.role
                jobmaster
            .response
              Nulla nec ipsum eget turpis sodales luctus. Nam sed lacus sed mauris mattis vulputate nec nec dui. Sed scelerisque mollis tellus, vel dapibus sapien blandit id. Integer commodo semper ante eget hendrerit. Etiam cursus vulputate purus dapibus luctus. Aliquam eu massa orci, congue congue est. Pellentesque in elit quis felis ultrices varius. Quisque commodo nibh sit amet tellus imperdiet rutrum.
          .clear
        .responder
          .text.shadow
            .user_header
              %span.name
                Cheggs Montgomery
              %span.role
                bidder
            .response
              Nulla nec ipsum eget turpis sodales luctus. Nam sed lacus sed mauris mattis vulputate nec nec dui. Sed scelerisque mollis tellus, vel dapibus sapien blandit id. Integer commodo semper ante eget hendrerit. Etiam cursus vulputate purus dapibus luctus. Aliquam eu massa orci, congue congue est. Pellentesque in elit quis felis ultrices varius. Quisque commodo nibh sit amet tellus imperdiet rutrum.
          .identity
            .triangle
            .avatar
          .clear
        .talker.inline
          .identity
            .triangle
            .avatar
          .text.shadow
            .user_header
              %span.name
                EFFALO
              %span.role
                jobmaster
            .response
              Nulla nec ipsum eget turpis sodales luctus. Nam sed lacus sed mauris mattis vulputate nec nec dui. Sed scelerisque mollis tellus, vel dapibus sapien blandit id. Integer commodo semper ante eget hendrerit. Etiam cursus vulputate purus dapibus luctus. Aliquam eu massa orci, congue congue est. Pellentesque in elit quis felis ultrices varius. Quisque commodo nibh sit amet tellus imperdiet rutrum.
          .clear
        .responder
          .text.shadow
            .user_header
              %span.name
                Cheggs Montgomery
              %span.role
                bidder
            .response
              Nulla nec ipsum eget turpis sodales luctus. Nam sed lacus sed mauris mattis vulputate nec nec dui. Sed scelerisque mollis tellus, vel dapibus sapien blandit id. Integer commodo semper ante eget hendrerit. Etiam cursus vulputate purus dapibus luctus. Aliquam eu massa orci, congue congue est. Pellentesque in elit quis felis ultrices varius. Quisque commodo nibh sit amet tellus imperdiet rutrum.
          .identity
            .triangle
            .avatar
          .clear
        .talker.inline
          .identity
            .triangle
            .avatar
          .text.shadow
            .user_header
              %span.name
                EFFALO
              %span.role
                jobmaster
            .response
              Nulla nec ipsum eget turpis sodales luctus. Nam sed lacus sed mauris mattis vulputate nec nec dui. Sed scelerisque mollis tellus, vel dapibus sapien blandit id. Integer commodo semper ante eget hendrerit. Etiam cursus vulputate purus dapibus luctus. Aliquam eu massa orci, congue congue est. Pellentesque in elit quis felis ultrices varius. Quisque commodo nibh sit amet tellus imperdiet rutrum.
          .clear
        .responder
          .text.shadow
            .user_header
              %span.name
                Cheggs Montgomery
              %span.role
                bidder
            .response
              Nulla nec ipsum eget turpis sodales luctus. Nam sed lacus sed mauris mattis vulputate nec nec dui. Sed scelerisque mollis tellus, vel dapibus sapien blandit id. Integer commodo semper ante eget hendrerit. Etiam cursus vulputate purus dapibus luctus. Aliquam eu massa orci, congue congue est. Pellentesque in elit quis felis ultrices varius. Quisque commodo nibh sit amet tellus imperdiet rutrum.
          .identity
            .triangle
            .avatar
          .clear
        .talker.inline
          .identity
            .triangle
            .avatar
          .text.shadow
            .user_header
              %span.name
                EFFALO
              %span.role
                jobmaster
            .response
              Nulla nec ipsum eget turpis sodales luctus. Nam sed lacus sed mauris mattis vulputate nec nec dui. Sed scelerisque mollis tellus, vel dapibus sapien blandit id. Integer commodo semper ante eget hendrerit. Etiam cursus vulputate purus dapibus luctus. Aliquam eu massa orci, congue congue est. Pellentesque in elit quis felis ultrices varius. Quisque commodo nibh sit amet tellus imperdiet rutrum.
          .clear
