body {
  text-align: center;
  background: url(/images/grid.png);
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  margin: 20px 0 0 0; }

.container {
  text-align: left;
  margin: 0 auto;
  width: 640px; }


.logo {
  float: left;
  width: 200px; }

.icon {
  float: left;
  width: 65px;
  height: 51px;
  display: block;
  background: url(/images/icon.png) no-repeat; }

.logo h1 {
  float: left;
  width: 120px;
  font-family: "Helvetica Neue";
  color: #534741;
  letter-spacing: -1px;
  line-height: 26px;
  font-size: 30px;
  margin: 0 0 0 10px;
  padding: 0; }

.stripe {
  background: #534741;
  color: #fafafa;
  padding: 5px 10px; }
  .stripe .left {
    width: 48%;
    float: left; }
  .stripe .right {
    text-align: right;
    width: 48%;
    float: right; }
  .stripe h2 {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue";
    font-size: 18px;
    text-shadow: #534741 0px 0px 3px; }
  .stripe h4 {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue";
    font-size: 14px;
    text-shadow: #534741 0px 0px 3px; }
  .stripe span.info {
    font-size: 11px;
    opacity: .5; }
  .stripe span.prompt {
    font-family: "Helvetica Neue";
    font-weight: bold;
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    opacity: .7; }

ul.context-menu {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.context-menu li {
    text-align: center;
    width: 24px;
    padding-top: 24px;
    font-size: 11px;
    color: #ccc;
    opacity: .7; }
    ul.context-menu li a {
      color: #fafafa;
      text-decoration: none;
      padding-top: 24px; }
    ul.context-menu li:hover {
      opacity: 1; }
    ul.context-menu li.edit {
      background: url(/images/edit.png) no-repeat 0 2px; }

.map {
  background: #ddd;
  width: 640px;
  height: 360px; }

.page {
  margin-top: 10px;
  background: white; }

.shadow {
  -webkit-box-shadow: 3px 5px 3px #ccc; }

.content {
  font-size: 13px;
  color: #4c433e; }
  .content.light {
    background: url(/images/bg-2col.png) repeat-y; }
  .content.halfdark {
    background: url(/images/bg-2col_halfdark.png) repeat-y; }
  .content.dark {
    background: url(/images/bg-2col_dark.png) repeat-y; }
  .content.white {
    background: #fff; }
  .content .full {
    width: 100%;
    border-bottom: 1px solid #ccc; }
  .content .left {
    float: left;
    width: 349px; }
  .content .right {
    float: right;
    width: 290px; }
  .content p {
    margin-top: 0; }
  .content span.red {
    color: #9e0b0f; }

.box {
  padding: 10px; }

.box-thick {
  padding: 20px; }

.box-inline {
  padding: 10px 0; }

.home .left {
  font-size: 16px;
  color: #ebebeb;
  text-shadow: #534741 0px 0px 5px; }
.home .right .callout p {
  font-size: 11px; }
.home .left a.action {
  text-decoration: none;
  color: #f8f0a9;
  font-size: 12px;
  font-weight: bold;
  padding-left: 10px;
  background: url(/images/bullet.png) no-repeat 0 5px; }
  .home .left a.action:hover {
    color: #fff568; }

.specifications table {
  background-color: #fbfafa;
  width: 100%;
  font-family: "Helvetica Neue";
  border-top: 1px solid #ededed; }
  .specifications table td {
    vertical-align: top;
    border-bottom: 1px solid #ededed; }
    .specifications table td ul {
      list-style: none;
      margin: 0;
      padding: 0; }
    .specifications table td.label {
      vertical-align: top;
      width: 130px;
      background: #fbfafa url(/images/bullet.png) no-repeat 10px 14px;
      font-size: 12px;
      font-weight: bold;
      color: #8b755b;
      padding-left: 20px; }

.sepecifications table td.attribute {
  color: #534741;
  font-size: 14px; }

.paginator {
  padding: 10px 0;
  background: #37302d;
  font-size: 11px;
  color: #fafafa; }
  .paginator .summary {
    float: left;
    width: 300px;
    margin-left: 10px;
    color: #f8f0a9;
    text-shadow: #534741 0px 0px 5px;
    text-transform: uppercase; }
  .paginator .controls {
    float: right;
    width: 300px;
    text-align: right; }
    .paginator .controls span {
      opacity: .5;
      margin: 0 10px; }
    .paginator .controls ul {
      list-style: none;
      display: inline;
      padding: 0; }
      .paginator .controls ul li {
        display: inline;
        padding: 3px 5px; }
        .paginator .controls ul li.selected {
          background: #ccc;
          color: black;
          font-weight: bold; }

table.list {
  width: 100%;
  background: white; }
  table.list td {
    font-size: 12px;
    padding: 10px;
    border-bottom: 1px solid #ddd; }
  table.list tr.alt {
    background-color: #f5f5f5; }
  table.list tr.last td {
    border-bottom: none; }
  table.list th {
    width: 100%;
    background: #534741;
    text-shadow: #534741 0px 0px 5px;
    color: #fafafa;
    padding: 5px 10px;
    font-family: "Helvetica Neue";
    font-size: 10px; }
    table.list th.title {
      width: 40%; }
    table.list th.deliver-to {
      width: 25%; }
    table.list th.deliver-by {
      width: 20%; }
    table.list th.quantity {
      width: 5%; }
    table.list th.action {
      width: 10%; }

.callout {
  padding-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
  color: #252525; }

.left .callout {
  margin-left: -11px;
  width: 350px; }

.right .callout {
  margin-left: 11px;
  width: 290px; }

.left .callout .fold {
  display: block;
  width: 11px;
  height: 11px;
  margin-top: -11px;
  background: url(/images/callout-fold-left.png) no-repeat; }

.right .callout .fold {
  display: block;
  float: right;
  width: 11px;
  height: 11px;
  margin-top: -11px;
  background: url(/images/callout-fold-right.png) no-repeat; }
.right .callout .content p {
  margin: 0; }

.callout .content {
  background: #f8f0a9;
  -webkit-box-shadow: 3px 3px 3px rgba(10,10,10,.25);
  padding: 10px 10px 10px 20px; }
  .callout .content h3 {
    font-family: "Helvetica Neue", Helvetica;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    color: #252525;
    margin: 0 0 5px 0;
    padding: 0; }
.callout.need-maker {
  padding-top: 25px; }
.callout.need-job {
  padding-top: 15px; }

ul.things-to-remember {
  margin-left: -10px; }
  ul.things-to-remember li {
    list-style-image: url(/images/check.png);
    font-size: 12px;
    margin-bottom: 10px; }

form.place-a-bid .quantity {
  margin-bottom: 10px; }
  form.place-a-bid .quantity label {
    padding-left: 10px;
    background: url(/images/bullet.png) no-repeat 0 5px;
    font-weight: bold; }
form.place-a-bid input {
  border: none;
  font-size: 14px;
  padding: 3px;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc; }
form.place-a-bid .quantity input {
  width: 40px; }
form.place-a-bid .message h4 {
  float: left; }
form.place-a-bid .message .counter {
  float: right;
  text-align: right;
  width: 100px;
  color: #bbbbbb; }
form.place-a-bid .message textarea {
  padding: 10px;
  font-size: 12px;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  width: 299px;
  min-height: 200px;
  margin-top: -1px;
  border-collapse: collapse;
  border: none;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-bottom: 10px; }
form.place-a-bid input.submit-bid {
  float: right;
  background: #c4df9b;
  border: 1px solid #bebd7b;
  color: #252525;
  padding: 10px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: bold;
  width: 35%; }
form.place-a-bid input.send-message {
  float: right;
  background: #c4df9b;
  border: 1px solid #bebd7b;
  color: #252525;
  padding: 10px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: bold;
  width: 50%; }
form.place-a-bid input.submit-bid:hover {
  background: #b1c98c; }
form.place-a-bid span.notice {
  float: left;
  width: 60%;
  font-size: 11px;
  font-style: italic;
  font-family: "Georgia", Times, serif; }
form .specifications input {
  width: 90%;
  margin-top: -3px;
  padding: 3px 5px;
  color: #252525;
  border: none;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc; }
form input.login {
  float: right;
  background: #c4df9b;
  border: 1px solid #bebd7b;
  color: #252525;
  padding: 10px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: bold;
  width: 30%; }

ul.file-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.file-list li {
    background: url(/images/blueprint.png) no-repeat;
    padding-left: 28px;
    margin-bottom: 10px; }
    ul.file-list li h5 {
      margin: 0;
      padding: 0;
      font-size: 12px; }
    ul.file-list li span.details {
      font-size: 10px;
      opacity: .8; }

.nav {
  float: right;
  width: 400px;
  color: #534741; }
  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .nav ul li {
      text-align: center;
      line-height: 72px;
      margin-left: 10px;
      font-family: "Helvetica Neue";
      float: right; }
    .nav ul li.main a {
      color: #423934;
      text-decoration: none;
      display: block;
      background: #f6f6f5;
      border-top: 3px solid #534741;
      font-weight: bold;
      font-size: 14px;
      width: 100px;
      height: 50px; }
      .nav ul li.main a:hover {
        background: #deded4;
        border-top-color: #423934; }
    .nav ul li.login {
      font-weight: bold;
      opacity: .7;
      line-height: 81px;
      background: url(/images/login.png) no-repeat 12px 0;
      width: 50px;
      height: 50px;
      font-size: 10px; }
      .nav ul li.login:hover {
        opacity: 1; }
      .nav ul li.login a {
        padding-top: 30px;
        text-decoration: none;
        color: #252525; }
    .nav ul li.bids {
      font-weight: bold;
      opacity: .7;
      line-height: 81px;
      background: url(/images/bids.png) no-repeat 8px 0;
      width: 50px;
      height: 50px;
      font-size: 10px; }
      .nav ul li.bids:hover {
        opacity: 1; }
      .nav ul li.bids a {
        padding-top: 30px;
        text-decoration: none;
        color: #252525; }

p.help {
  font-style: italic;
  font-size: 11px; }

.footer {
  border-top: 3px solid #534741;
  padding-top: 10px;
  margin-bottom: 30px;
  font-family: "Helvetica Neue";
  font-size: 12px;
  color: #9f9c9b; }
  .footer span.notes {
    float: left; }
  .footer span.creator {
    float: right; }
  .footer a {
    text-decoration: none;
    font-weight: bold;
    color: #726d6c; }
    .footer a:hover {
      color: #534741; }

.clear {
  clear: both; }

.field-highlight.left {
  position: absolute;
  margin-left: -30px;
  width: 20px;
  height: 20px;
  background: yellow;
  z-index: 444; }
.field-highlight.left {
  position: absolute;
  margin-left: -30px;
  width: 20px;
  height: 20px;
  background: yellow;
  z-index: 444; }

.new_user_session label {
  font-size: 11px; }
.new_user_session .textfield {
  font-size: 14px; }

.upload-image .bucket {
  background: #ddd;
  width: 290px;
  height: 219px; }
  .upload-image .bucket h4 {
    margin: 0 0 10px 0;
    padding: 0;
    font-family: "Helvetica Neue";
    font-size: 14px; }

form.post-a-job .title {
  font-size: 14px;
  width: 100%; }
form.post-a-job .left textarea {
  width: 100%;
  height: 222px;
  margin: 0;
  padding: 0; }

.left .description h4 {
  margin: 0 0 10px 0;
  padding: 0;
  font-family: "Helvetica Neue";
  font-size: 14px; }
