%h3
  YOU'VE BIDDED ON THIS JOB
%div.bid_instructions
  %p
    The job owner has your contact information and you will be notified by email if you are awarded the bid.
  %ul.things-to-remember.greenwrap
    %li
      You placed this bid on:
      = format_time(bid.created_at, :human)
    %li
      .awarded
        Bid awarded! Contact job owner directly: 
        .email
          = bid.job.creator.email
    

- form_for([@job, bid], :html => {:class => 'place-a-bid'}) do |form|
  .message
    .stripe
      .left.extra
      %h4
        YOU SENT THIS MESSAGE
      .clear
    = form.text_area :message, :disabled => true
  .quantity
    %label
      Your bid was for a quantity of: 
      = form.text_field :quantity, :size => 2, :disabled => true
  .clear
