%br{ :clear => "both" }
.page.shadow
  .content.dark
    .full
      .home
        .left
          .box-thick
            %p
              MAKERFACTORY is a service for connecting makers with people who need things made.
            %p
              By leveraging the combination of low-cost digital fabrication tools and a passionate collective of makers from all around the world, a newer, more localized and expressive form of manufacturing can begin to emerge.
            %a.action{ :href => "#" }
              Learn more about MAKERFACTORY
        .right.signups
          .callout.need-maker
            .fold
              \&nbsp;
            %a{:href => register_path}
              .content
                %h3
                  NEED SOMETHING MADE?
                %p
                  You provide the blueprints and we'll try to connect you with the people who can make it happen. Click here to sign up and post a job!

          .callout.need-job
            .fold
              \&nbsp;
            %a{:href => register_path}
              .content
                %h3
                  CAN YOU MAKE THINGS?
                %p
                  Got a MakerBot or Rep-rap? Laser cutter or CNC? Put your bot to work - click here to sign up and bid on jobs!

      .clear
      .map
      %table.list{ :cellspacing => "0", :cellpadding => "0" }
        %tr
          %th.title
            JOB TITLE
          %th.deliver-to
            DELIVER TO
          %th.deliver-by
            DELIVER BY
          %th.quantity
            QUANTITY
          %th
        %tr
          %td
            1
          %td
            2
          %td
            3
          %td
            4
          %td
            \-
        %tr.alt
          %td
            1
          %td
            2
          %td
            3
          %td
            4
          %td
            \-
        %tr
          %td
            1
          %td
            2
          %td
            3
          %td
            4
          %td
            \-
        %tr.alt
          %td
            1
          %td
            2
          %td
            3
          %td
            4
          %td
            \-
        %tr
          %td
            1
          %td
            2
          %td
            3
          %td
            4
          %td
            \-
        %tr.alt
          %td
            1
          %td
            2
          %td
            3
          %td
            4
          %td
            \-
        %tr
          %td
            1
          %td
            2
          %td
            3
          %td
            4
          %td
            \-
        %tr.alt
          %td
            1
          %td
            2
          %td
            3
          %td
            4
          %td
            \-
        %tr
          %td
            1
          %td
            2
          %td
            3
          %td
            4
          %td
            \-
        %tr.alt
          %td
            1
          %td
            2
          %td
            3
          %td
            4
          %td
            \-
        %tr
          %td
            1
          %td
            2
          %td
            3
          %td
            4
          %td
            \-
        %tr.alt
          %td
            1
          %td
            2
          %td
            3
          %td
            4
          %td
            \-
        %tr
          %td
            1
          %td
            2
          %td
            3
          %td
            4
          %td
            \-
        %tr.alt.last
          %td
            1
          %td
            2
          %td
            3
          %td
            4
          %td
            \-

    .clear

.footer
  %span.notes
    (cc) 2010 MAKERFACTORY
  %span.creator
    AN
    %a{ :href => "http://effalo.com" }
      EFFALO
    INITIATVE
