:javascript
  $(function(){
    makerFactory.jobs = [
      #{Job.all.map { |job| %Q('#{job.deliver_to}') }.join(',')}
    ];
  });
  
.page.shadow
  .content.home
    .full
      .home
        .left
          .video
        .right
          .box
            %p
              %strong
                MAKERFACTORY
              is a free service for connecting the emerging network of localized fabrication technologies with people like you who need stuff 3d printed, CNC’ed, or otherwise made.
          .callout.need-job
            .fold
              \&nbsp;
            %a{:href => register_path}
              .content
                %h3
                  REGISTER HERE
                %p
                  Need something made? Willing to make things for other people? Click here to register for an account. It's totally free!

      .clear
      .gmaps_canvas
      %table.list{ :cellspacing => "0", :cellpadding => "0" }
        %tr
          %th.title
            JOB TITLE
          %th.deliver-to
            DELIVER TO
          %th.deliver-by
            DELIVER BY
          %th.quantity
            QUANTITY
          %th
        %tr
          %td
            1
          %td
            2
          %td
            3
          %td
            4
          %td
            \-
      #credit
        .left
          .box
            %h3
              BROUGHT TO YOU BY EFFALO
            %p
              %strong
                MAKERFACTORY
              was concieved, designed, and developed by your friends at
              %a{:href=>"http://effalo.com"}
                EFFALO
              , a research and design collaborative headquartered in the pacific northwest. This particular project was staffed by:
            .collaborators
              .collaborator
                %img{:src=>"/images/profile-mfelix.png"}
                %h4
                  Michael Felix
                %span
                  Design + Project Management
              .collaborator
                %img{:src=>"/images/profile-akurtz.png"}
                %h4
                  Andrew Kurtz
                %span
                  Development
              .collaborator
                %img{:src=>"/images/profile-mogden.png"}
                %h4
                  Max Ogden
                %span
                  Development
              .collaborator
                %img{:src=>"/images/profile-espier.png"}
                %h4
                  Ezra Spier
                %span
                  Development
              .clear
        .right
          .box
            %h5
              WE HAVE A BLOG!
            %p
              %a{:href=>"http://makerfactory.tumblr.com"}
                http://makerfactory.tumblr.com
            %h5
              JOB FEED VIA TWITTER
            %p
              %a{:href=>"http://twitter.com/makerfactory-jobs"}
                @makerfactory-jobs
            %h5
              WHY NOT SAY HELLO?
            %p
              %a{:href=>"mailto:hello@effalo.com"}
                hello@effalo.com
    .clear
